*{box-sizing: border-box;}

body{
    width: 98%;
    padding: 78px 0px;
    background:url('/img/videos bc.jpeg');
    background-size: cover;
    justify-content: space-evenly;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}